<% layout('_layout') -%>
<div class="jumbotron">
    <h1>欢迎使用</h1>
    <p>请从左侧菜单进入您感兴趣的功能.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="email/" role="button">批量发邮件 &raquo;</a>
    </p>
</div>
