<html>

<body>
<p>
    成功。 三秒后返回首页。
</p>

<script language="javascript" type="text/javascript">
    setTimeout(function(){
        window.location.href="/index.htm";
    }, 3000);

</script>
</body>
</html>
