<% layout('_layout') -%>

<div id="slide-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#slide-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#slide-carousel" data-slide-to="1"></li>
        <li data-target="#slide-carousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/img/bird2.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="/img/flower.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="/img/deer.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#slide-carousel"
    data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#slide-carousel"
    data-slide="next">&rsaquo;</a>
</div>
